# Node.js modules
node_modules

# IntelliJ IDEA files
.idea
*.iml

# Intermediate files
/target

# Logs
*.log

# Package archive
*.tgz

# Source files
/src

# Build scripts
/build

# Build configurations
/.*
/*.cjs
/*.js
/*.json

# Package lock
/yarn.lock

# Include distribution dir
!/dist

# Include type definitions
!*.d.ts
!*.d.ts.map
